.container
  display: flex/* Utilizamos flexbox para alinear el menú y el contenido en dirección horizontal */
  height: 100vh

.menu
  width: 200px /* Ancho deseado para el menú */

  /* Otros estilos del menú vertical */

.contenido
  flex-grow: 1 /* Permite que el contenido ocupe el espacio restante */
  padding: 20px
  /* Otros estilos del contenido principal */
