<h1>HOAL</h1>
<!-- <div class="contenido">
  <h2>Desayuno</h2>
  <div class="bloque">
    <app-buscador-alimentos class="buscador"></app-buscador-alimentos>
    <div class="alimentos">
      <h1>Listado alimentos</h1>
    </div>
  </div>
</div> -->

<div *ngIf="tipoComida === 'desayuno'">
  <div class="contenido">
    <h2>Desayuno</h2>
    <div class="bloque">
      <app-buscador-alimentos class="buscador"></app-buscador-alimentos>
      <div class="alimentos">
        <h1>Listado alimentos</h1>
      </div>
    </div>
  </div>
</div>

<div *ngIf="tipoComida === 'comida'">
  <div class="contenido">
    <h2>Comida</h2>
    <div class="bloque">
      <app-buscador-alimentos class="buscador"></app-buscador-alimentos>
      <div class="alimentos">
        <h1>Listado alimentos</h1>
      </div>
    </div>
  </div>
</div>

<div *ngIf="tipoComida === 'merienda'">
  <div class="contenido">
    <h2>Merienda</h2>
    <div class="bloque">
      <app-buscador-alimentos class="buscador"></app-buscador-alimentos>
      <div class="alimentos">
        <h1>Listado alimentos</h1>
      </div>
    </div>
  </div>
</div>

<div *ngIf="tipoComida === 'cena'">
  <div class="contenido">
    <h2>Cena</h2>
    <div class="bloque">
      <app-buscador-alimentos class="buscador"></app-buscador-alimentos>
      <div class="alimentos">
        <h1>Listado alimentos</h1>
      </div>
    </div>
  </div>
</div>
