
<!--
  DESAYUNO
-->

<div *ngIf="tipoComida === 'desayuno'">
  <div class="contenido">
    <h2>{{tipoComida.toUpperCase()}}</h2>
    <div class="bloque">
      <app-buscador-alimentos class="buscador" (productoSeleccionado)="agregarProducto($event)"></app-buscador-alimentos>
      <div class="alimentos">
        <h2>Listado alimentos</h2>
        <div class="seleccionados">
          <ul>
            <li *ngFor="let product of productosSeleccionados; let even = even" [ngClass]="{'even': even, 'odd': !even}">
              <div class="producto">
                <img src="{{ product.image_front_url }}" alt="Imagen del producto">
                <div class="info">
                  <p (click)="expandProduct(product.id)">Nombre: {{ product.product_name }}</p>
                  <div *ngIf="expandedProductId === product.id" class="datos">
                    <p>Calorias: {{ product.nutriments.energy_100g }}</p>
                  </div>
                  <button (click)="eliminarProducto(product)">Eliminar</button>

                </div>
              </div>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <button (click)="guardarComida('desayuno')">Guardar DESAYUNO</button>
  </div>
</div>

<!--
  COMIDA
-->

<div *ngIf="tipoComida === 'comida'">
  <div class="contenido">
    <h2>{{tipoComida.toUpperCase()}}</h2>
    <div class="bloque">
      <app-buscador-alimentos class="buscador" (productoSeleccionado)="agregarProducto($event)"></app-buscador-alimentos>
      <div class="alimentos">
        <h2>Listado alimentos</h2>
        <div class="seleccionados">
          <ul>
            <li *ngFor="let product of productosSeleccionados; let even = even" [ngClass]="{'even': even, 'odd': !even}">
              <div class="producto">
                <img src="{{ product.image_front_url }}" alt="Imagen del producto">
                <div class="info">
                  <p (click)="expandProduct(product.id)">Nombre: {{ product.product_name }}</p>

                  <div *ngIf="expandedProductId === product.id" class="datos">

                    <p>Calorias: {{ product.nutriments.energy_100g }}</p>
                  </div>
                  <button (click)="(product)">Eliminar</button>
                </div>
              </div>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <button (click)="guardarComida('comida')">Guardar COMIDA</button>
  </div>
</div>

<!--
  MERIENDA
-->

<div *ngIf="tipoComida === 'merienda'">
  <div class="contenido">
    <h2>{{tipoComida.toUpperCase()}}</h2>
    <div class="bloque">
      <app-buscador-alimentos class="buscador" (productoSeleccionado)="agregarProducto($event)"></app-buscador-alimentos>
      <div class="alimentos">
        <h2>Listado alimentos</h2>
        <div class="seleccionados">
          <ul>
            <li *ngFor="let product of productosSeleccionados; let even = even" [ngClass]="{'even': even, 'odd': !even}">
              <div class="producto">
                <img src="{{ product.image_front_url }}" alt="Imagen del producto">
                <div class="info">
                  <p (click)="expandProduct(product.id)">Nombre: {{ product.product_name }}</p>

                  <div *ngIf="expandedProductId === product.id" class="datos">

                    <p>Calorias: {{ product.nutriments.energy_100g }}</p>
                  </div>
                  <button (click)="(product)">Eliminar</button>
                </div>
              </div>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <button (click)="guardarComida('merienda')">Guardar MERIENDA</button>
  </div>
</div>

<!--
  CENA
-->

<div *ngIf="tipoComida === 'cena'">
  <div class="contenido">
    <h2>{{tipoComida.toUpperCase()}}</h2>
    <div class="bloque">
      <app-buscador-alimentos class="buscador" (productoSeleccionado)="agregarProducto($event)"></app-buscador-alimentos>
      <div class="alimentos">
        <h2>Listado alimentos</h2>
        <div class="seleccionados">
          <ul>
            <li *ngFor="let product of productosSeleccionados; let even = even" [ngClass]="{'even': even, 'odd': !even}">
              <div class="producto">
                <img src="{{ product.image_front_url }}" alt="Imagen del producto">
                <div class="info">
                  <p (click)="expandProduct(product.id)">Nombre: {{ product.product_name }}</p>

                  <div *ngIf="expandedProductId === product.id" class="datos">

                    <p>Calorias: {{ product.nutriments.energy_100g }}</p>
                  </div>
                  <button (click)="(product)">Eliminar</button>
                </div>
              </div>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <button (click)="guardarComida('cena')">Guardar CENA</button>
  </div>
</div>
