.contenido
  height: 100vh
  margin: 0
  display: grid
  place-items: center
  font-family: system-ui
  //background-color: #4d22b3

  .grid
    display: grid
    grid-template-columns: 0fr 1fr
    gap: 1rem

    & > a
      width: 25vw
      height: 40vh

  .grid :nth-child(1),
  .contenido#desayuno div
    background: yellow
    display: grid
    place-items: center

  .grid :nth-child(2),
  .contenido#comida div
    background: red
    display: grid
    place-items: center

  .grid :nth-child(3),
  .contenido#merienda div
    background: orange
    display: grid
    place-items: center

  .grid :nth-child(4),
  .contenido#cena div
    background: blue
    display: grid
    place-items: center

  [id] > div
    width: 80vw
    height: 80vh
    color: white
    text-decoration: none
    text-align: center
    position: relative
    display: grid
    place-items: center

  [id] > div > a
    position: absolute
    inset-inline-end: 1rem
    inset-block-start: 1rem
    color: inherit

  h2
    margin: 0
    font-weight: 900
    font-size: 3rem

.container
  display: flex

.contenido
  flex-grow: 1
  padding: 20px

.classic-gradient
  background-image: linear-gradient(to top right, #fff 0%, #000 0% 20%, #fff 0% 40%, #000 0% 60%, #fff 0% 80%, #000 0% 100%)
