<div class="contenido">
  <div> {{tiempo}} </div>
  <a>Día {{fechaActual}}</a>
  <div class="grid">
    <a routerLink="/comida" (click)="seleccionarComida('desayuno')" class="desayuno">Desayuno</a>
    <a routerLink="/comida" (click)="seleccionarComida('comida')" class="comida">Comida</a>
    <a routerLink="/comida" (click)="seleccionarComida('merienda')" class="merienda">Merienda</a>
    <a routerLink="/comida" (click)="seleccionarComida('cena')" class="cena">Cena</a>
  </div>
  <router-outlet></router-outlet>
</div>
